params {

	// Printable label for the compute architecture in use.
	compute_arch = "University of Wisconsin-Madison Center for High-Throughput Computing, High Throughput Computing (HTC) Cluster"

	// The date when the run started
	date = new java.util.Date().format('yyyyMMdd')

}

report {
	enabled = true
	overwrite = false
	file    = "$launchDir/results/run_statistics/report_${params.date}.html"
}

dag {
	enabled = false
	overwrite = false
	file = 'workflow_visualization.html'
}

executor {
	name   = 'local'
	cpus   = 8
	memory = 32.GB
}

cleanup = true