params {

	// Printable label for the compute architecture in use.
	compute_arch = "High-core Linux Ubuntu Cluster"

	// The date when the run started
	date = new java.util.Date().format('yyyyMMdd')
	
}

report {
	enabled = true
	overwrite = false
	file    = "$launchDir/results/run_statistics/report_${params.date}.html"
}

dag {
	enabled = true
	overwrite = true
	file = 'workflow_visualization.html'
}

executor {
	name = 'local'
	cpus = 40
	memory = 80.GB
}

cleanup = true