params {

	// Printable label for the compute architecture in use.
	compute_arch = "ARM (Apple Silicon chip) Apple iMac Desktop"

	// The date when the run started
	date = new java.util.Date().format('yyyyMMdd')

}

report {
	enabled = true
	overwrite = false
	file    = "$launchDir/results/run_statistics/report_${params.date}.html"
}

dag {
	enabled = true
	overwrite = true
	file = 'workflow_visualization.png'
}

executor {
    name = 'local'
    cpus = 8
    memory = 64.GB
}

cleanup = false